#titleacc{
    text-align:center;
}

#liacc{
    margin-left : 35%;
}

#divacc{
    overflow-y: scroll;
}

ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

li{
    margin-bottom: 5%;
}