#boxviz{
    border : 1px black solid;
    background-color: rgba(216, 216, 216, 0.795);
    max-height: 50%;
    max-width: 50%;
}

#titleviz{
    text-align: center;
}

#nbviz{
    margin:0;
    padding: 0;
    text-align: right;
    color : grey;
}